<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

Id: <p th:text="${user.id}">VALUE</p>
Name: <p th:text="${user.name}">VALUE</p>
Surname: <p th:text="${user.surName}">VALUE</p>
Age: <p th:text="${user.age}">VALUE</p>
Department: <p th:text="${user.department}">VALUE</p>

<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit current user</a>

<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<hr/>
<a href="/add-user"> Create new user</a>

</body>
</html>