<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>SurName</th>
        <th>Age</th>
        <th>Department</th>
        <th>Username</th>
        <th>Roles</th>
    </tr>

    <tr th:each="user : ${user}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.surName}">Surname</td>
        <td th:text="${user.age}">Age</td>
        <td th:text="${user.department}">Department</td>
        <td th:text="${user.userName}">Username</td>
        <td th:text="${user.roles}">Roles</td>
    </tr>
</table>
<hr/>

<a href="/logout">
    <button type="button" class="btn btn-warning">Logout</button>
</a>

</body>
</html>